:root {
  --xs: 320px;
  --sm: 480px;
  --md: 768px;
  --lg: 1080px;
  --xl: 1280px;
  --fg-primary-color: #1b1b1b;
  --fg-secondary-color: grey;
  --bg-primary-color: white;
  --bg-secondary-color: #dddddd;
  --green: rgb(0, 124, 0);
  --blue: rgb(58, 58, 255);
  --red: rgb(255, 60, 60);
  --border-radius: 6px;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --room-image-md-width: 470px;
  --room-image-md-height: 318px;
  --transition-duration: 0.289s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fg-primary-color);
  font-family: sans-serif;
}

body,
.container-room-head,
.container__room__main {
  width: 100%;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.flexed {
  display: flex;
}
.flexed.gap {
  gap: 0.5rem;
}
.flexed.gap-1 {
  gap: 1rem;
}
.flexed.gap-2 {
  gap: 2rem;
}
.flexed.gap-3 {
  gap: 3rem;
}
.flexed.col {
  flex-direction: column;
}
.flexed.col-rev {
  flex-direction: column-reverse;
}
.flexed.row-rev {
  flex-direction: row-reverse;
}
.flexed.wrap {
  flex-wrap: wrap;
}
.flexed.nowrap {
  flex-wrap: nowrap;
}
.flexed.wrap-rev {
  flex-wrap: wrap-reverse;
}
.flexed.centered {
  justify-content: center;
  align-items: center;
}
/* justify-content */
.flexed.hr-center {
  justify-content: center;
}
.flexed.around {
  justify-content: space-around;
}
.flexed.between {
  justify-content: space-between;
}
.flexed.evenly {
  justify-content: space-evenly;
}
.flexed.left {
  justify-content: flex-start;
}
.flexed.right {
  justify-content: flex-end;
}
/* align-items */
.flexed.vr-center {
  align-items: center;
}
.flexed.baseline {
  align-items: baseline;
}
.flexed.top {
  align-items: flex-start;
}
.flexed.bottom {
  align-items: flex-end;
}

#mainContainer {
  transition: 0.256s;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--green);
}

#container {
  min-width: var(--room-image-md-width);
  min-height: var(--room-image-md-height);
  width: 70%;
  margin: 1rem;
  box-shadow: 0 0 6px 2px var(--shadow-color);
}

/* #container__head {
  display: flex;
  flex-wrap: nowrap;
} */

/* Conainer border radius */
#container {
  border-radius: var(--border-radius) !important;
}
.room-image-container {
  border-top-left-radius: var(--border-radius) !important;
}

#roomImage {
  width: var(--room-image-md-width);
  height: var(--room-image-md-height);
  background-color: var(--bg-secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-image-content {
  padding: 1rem;
  gap: 1rem;
}

.room-status-container,
.rooms-remaining-container {
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 0.8rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.8);
}

.room-status-container {
  gap: 0.5rem;
}

.room-status-container > .icon-value {
  color: var(--red);
  font-size: 16px;
}

/* Room Details */

.room-detail-container {
  width: 60%;
  padding: 2rem;
  padding-bottom: 1rem;
  gap: 2rem;
}

.room-detail-container h2 {
  padding-bottom: 0.3rem;
}

.room-detail-container-row {
  gap: 3rem;
  margin-bottom: 1rem;
}

.room-detail-container-row .material-icon,
#roomSpecs {
  color: var(--fg-secondary-color);
}

#roomSpecs > span {
  margin: 0 0.5rem;
}

#roomSpecsToggleBtn {
  white-space: nowrap;
}

.discount-list-container,
.discount-name {
  color: purple;
}

#discountList .discount-btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  transition: var(--transition-duration);
}

#discountList .discount-btn.applied {
  font-size: 20px;
  padding: 0.2rem 0.4rem;
}

#discountList .discount-btn.applied .discount-name {
  color: var(--green);
}

#discountList .discount-btn.applied::after {
  /* Material Icon - clear */
  content: "\e14c";
  font-family: "Material Icons Round";
  font-size: 12px;
  color: var(--red);
  margin-left: 0.5rem;
  border: 1px solid var(--red);
  border-radius: 4px;
}

/* Room Type List */
.room-list-content-row {
  border-width: 1px 0 0;
  border-color: var(--fg-secondary-color);
  border-style: solid;
  padding: 1rem;
  padding-left: 3rem;
}
/* .room-list-content-row:last-of-type {
  border-width: 1px 0;
} */

.room-detail-view-button {
  margin-top: 1rem;
}

.room-quantity-inc-btn,
.room-quantity-dec-btn {
  border-radius: 50%;
  background-color: var(--fg-primary-color);
  width: 30px;
  height: 30px;
  color: white;
}

.room-current-quantity {
  margin: 0 1rem;
}

.room-initial-price-container,
.room-price-refundable-status-container {
  color: var(--fg-secondary-color);
}
.room-initial-price-container > p {
  text-decoration: line-through;
}

.discount-indicator {
  margin-top: 1rem;
}

.room-list-content-col {
  width: calc(100% / 4);
}
.room-list-content-row > .room-list-content-col:first-child {
  width: 40%;
}
.room-list-content-col .material-icon {
  margin-left: 0.5rem;
  font-size: inherit;
  color: inherit;
}

.room-current-price {
  font-size: 24px;
}

.room-price-refundable-status {
  text-transform: capitalize;
}

#roomsContainerToggleBtn {
  border-top: 1px solid var(--fg-secondary-color);
  background-color: var(--bg-secondary-color);
  border-end-end-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
  width: 100%;
  padding: 0.8rem;
}

/* Checkout Container */
#checkoutContainer {
  width: 30%;
  margin: 1rem;
  box-shadow: 0 0 6px 2px var(--shadow-color);
  border-radius: var(--border-radius) !important;
}

#checkoutContainer > * {
  width: 100%;
  padding: 1rem;
  padding-right: 0.5rem;
  padding-left: 2rem;
  border-bottom: 1px solid var(--fg-secondary-color);
}

#checkoutContainer > :first-child {
  padding: 2rem;
}

#checkoutContainer > :last-child {
  border: none;
  padding: 1rem 2rem;
}

#checkoutContainer > :last-child > *:not(button) {
  width: 100%;
}

.datetime-input {
  width: calc(100% - 1rem);
  outline: none;
  position: relative;
}

.datetime-input:valid {
  border-color: var(--green);
  background-color: lightgreen;
}

.datetime-input:invalid {
  border-color: red;
  background-color: #ff6a6a;
  color: var(--bg-secondary-color);
}

.datetime-input::-webkit-calendar-picker-indicator {
  position: absolute;
  inset: 0;
  background: transparent;
  color: transparent;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h4.room-name {
  font-weight: 500;
  color: var(--fg-secondary-color);
}

#selectedRoomList > * {
  margin-bottom: 1rem;
}
#selectedRoomList > :last-child {
  margin-bottom: 0;
}
#selectedRoomList > * > :first-child {
  width: 103px;
  white-space: nowrap;
  overflow-x: hidden;
}

#selectedRoomList .room-current-price {
  font-size: 16px;
}

#selectedRoomList .room-current-quantity {
  margin: 0;
  margin-left: 0.5rem;
}

#selectedRoomList .remove-room {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  color: var(--red);
  border-radius: 3px;
  padding: 1px;
}
#selectedRoomList .remove-room:hover {
  padding: 0;
  color: var(--bg-primary-color);
  background-color: rgb(255, 159, 159);
  border: 1px solid var(--red);
}
#selectedRoomList .remove-room:active {
  background-color: var(--red);
}

#priceBreakDown > * {
  margin: 0.5rem 0;
}
#priceBreakDown > :last-child {
  margin: 0;
}

#submitCheckoutForm {
  width: 100%;
  color: var(--bg-primary-color);
  background-color: var(--blue);
  padding: 1rem;
  border-radius: var(--border-radius);
}
#submitCheckoutForm:disabled {
  background-color: var(--fg-secondary-color);
}

#termsAndConditions {
  text-align: justify;
}
#termsAndConditions > a {
  text-decoration: none;
}
